/*Import de todas paginas*/
@import url("../CSS/navbar.css");
@import url("../CSS/footer.css");
/*Import do Fichas*/
@import url("../CSS/styleFichaCHK.css");
@import url("../CSS/styleFichasAcordionForm.css");
@import url("../CSS/styleFichasResumo_Parte1.css");
@import url("../CSS/styleFichasResumo_Parte2.css");
@import url("../CSS/styleFichasResumo_Parte3-Power.css");
@import url("../CSS/styleFichasResumo_Parte3-Pericia.css");

@font-face {
    font-family: t20;
    src: url(../FONTS/Tormenta20x.ttf)
}

:root {
    --fundo: #282424;
    --fundo-ficha: #363636;
    --fundo-botão: #363636;
    --fundo-botão-borda: #232323;
    --fundo-botão-texto: #FFF;
    --text-color: #FFF;
    /*Others*/
    --fundo-botão: #0A52BD;
    --texto-botão: #FFF;
    --cabecalho-azul: #3272D1;
    --rodape-azul-escuro: #0A52BD;
    --lua: #AEA5A5;
    --transparente: transparent;
    /*Moedas*/
    --dourado-moeda: #9A7311;
    --dourado-borda: #6B4F09;
    --prateado-moeda: #AEA5A5;
    --prateado-borda: #686464;
    --bronze-moeda: #BC6D24;
    --bronze-borda: #964F0C;
}

/*---------------------------------------------------------------------------*/

body {
    background-color: var(--fundo);
    
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    width: 100%;
    
    transition: background 0.2s linear;
}

/*Infos Gerais*/

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%
}

/* Resumo da Ficha */

.resumoFicha {
    background-color: var(--fundo-ficha);
    color: var(--text-color);
    
    display: flex;
    flex-direction: column;
    
    margin: 2rem 2rem;
    padding: 1rem 1rem;
}