/*Import de todas paginas*/
@import url("../CSS/navbar.css");
@import url("../CSS/footer.css");
/*Import do Inicio*/
@import url("../CSS/presentation.css");
@import url("../CSS/imageFicha.css");
@import url("../CSS/starting.css");

:root {
    --fundo: #282424;
    --fundo-ficha: #363636;
    --fundo-botão: #363636;
    --fundo-botão-borda: #232323;
    --fundo-botão-texto: #FFF;
    --text-color: #FFF;
    /*Others*/
    --fundo-botão: #0A52BD;
    --texto-botão: #FFF;
    --cabecalho-azul: #3272D1;
    --rodape-azul-escuro: #0A52BD;
    --lua: #AEA5A5;
    /*Moedas*/
    --dourado-moeda: #9A7311;
    --dourado-borda: #6B4F09;
    --prateado-moeda: #AEA5A5;
    --prateado-borda: #686464;
    --bronze-moeda: #BC6D24;
    --bronze-borda: #964F0C;
}

/*---------------------------------------------------------------------------*/
/* @font-face {
    font-family: t20;
    src: url(../FONTS/Tormenta20x.ttf)
} */


body,
.corpo {
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--fundo);
    color: var(--text-color);
    font-family: 'Alegreya Sans', sans-serif;
    
    align-items: center;
    box-sizing: border-box;
    
    height: 100vh;
    width: 100%;
    
    transition: background 0.2s linear;
}

/*Infos Gerais*/

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.corpo {
    align-items: flex-start;
    margin: 2rem 2rem;
    width: 50%;
}